{% extends 'base.html.twig' %}

{% block body %}

	<h2 class="text-2xl font-bold mb-4 p-3">Evènements</h2>
	<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 ml-20">
		<div class="bg-white rounded-lg shadow-md overflow-hidden">
			<img src="https://via.placeholder.com/400x300" alt="Évènement 1" class="w-full h-48 object-cover">
			<div class="p-4">
				<h3 class="text-lg font-bold">Ninho - Stade de France</h3>
				<p class="text-sm text-gray-500">3 mai 2025</p>
				<p class="text-sm text-gray-700">Date supplémentaire disponible.</p>
			</div>
		</div>
	</div>

	<div>
		<p class="p-3">
			<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta exercitationem enim laborum voluptatibus at earum cumque, vero aperiam eligendi, quia, magnam optio nobis nostrum odio delectus tempora est sint repellendus.</span>
			<span>Saepe libero porro tenetur, laudantium quasi aperiam, modi cum vel natus ducimus exercitationem rem reiciendis dolorem! Accusamus voluptatum, officia magni iusto deleniti ad hic inventore, explicabo consectetur, ratione quidem nobis.</span>
		</p>
		<p class="p-3">
			<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta exercitationem enim laborum voluptatibus at earum cumque, vero aperiam eligendi, quia, magnam optio nobis nostrum odio delectus tempora est sint repellendus.</span>
			<span>Saepe libero porro tenetur, laudantium quasi aperiam, modi cum vel natus ducimus exercitationem rem reiciendis dolorem! Accusamus voluptatum, officia magni iusto deleniti ad hic inventore, explicabo consectetur, ratione quidem nobis.</span>
		</p>
		<p class="p-3">
			<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta exercitationem enim laborum voluptatibus at earum cumque, vero aperiam eligendi, quia, magnam optio nobis nostrum odio delectus tempora est sint repellendus.</span>
			<span>Saepe libero porro tenetur, laudantium quasi aperiam, modi cum vel natus ducimus exercitationem rem reiciendis dolorem! Accusamus voluptatum, officia magni iusto deleniti ad hic inventore, explicabo consectetur, ratione quidem nobis.</span>
		</p>

	</div>

{% endblock %}
