{% extends 'base.html.twig' %}

{% block body %}

	<h2 class="text-2xl font-bold mb-4 p-3">Evènements</h2>
	<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 ml-20">
		<div class="bg-white rounded-lg shadow-md overflow-hidden">
			<img src="{{event.image}}" alt="Évènement 1" class="w-full h-48 object-cover">
			<div class="p-4">
				<h3 class="text-lg font-bold">{{event.title}}</h3>
				<p class="text-sm text-gray-500">{{event.date | date('d/m/y')}}</p>
				<p class="text-sm text-gray-700">Date supplémentaire disponible.</p>
			</div>
		</div>
	</div>

	<div>
		<p class="p-3">{{event.content | raw}} </p>
			
	</div>

{% endblock %}
